* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

img {
  display: block;
}

#background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #000), url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  #background {
    background-size: cover;
    height: 70vh;
  }
}

.loopstudios {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 40px 24px;
}
.loopstudios-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 327px;
  height: 383px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .loopstudios-content {
    width: 608px;
    height: 440px;
  }
}
@media screen and (min-width: 1024px) {
  .loopstudios-content {
    width: 1110px;
  }
}
.loopstudios-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 100%;
}
.loopstudios__logo {
  width: 144px;
  height: 24px;
}
.loopstudios__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .loopstudios__logo {
    width: 192px;
    height: 32px;
  }
}
.loopstudios__nav {
  display: none;
}
.loopstudios__nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}
.loopstudios__nav ul li {
  position: relative;
}
.loopstudios__nav ul li .link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 1.65;
}
.loopstudios__nav ul li:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  width: 60%;
}
@media screen and (min-width: 1024px) {
  .loopstudios__nav {
    display: block;
  }
}
.loopstudios__menu {
  width: 24px;
  height: 16px;
  object-fit: contain;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .loopstudios__menu {
    display: none;
  }
}
.loopstudios__menu-show {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 2;
  padding: 32px;
  transition: transform 0.4s ease-out;
}
@media screen and (min-width: 768px) {
  .loopstudios__menu-show {
    padding: 80px;
  }
}
.loopstudios__menu-show .close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 768px) {
  .loopstudios__menu-show .close {
    width: 25px;
    height: 25px;
    top: 80px;
    right: 80px;
  }
}
.loopstudios__menu-show .close__img {
  width: 100%;
  object-fit: contain;
}
.loopstudios__menu-show .loopstudios__logo {
  margin-bottom: 80px;
}
.loopstudios__menu-show .loopstudios__nav {
  display: block;
}
.loopstudios__menu-show .loopstudios__nav ul {
  flex-direction: column;
  align-items: flex-start;
}
.loopstudios__menu-show .link {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}
.loopstudios__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px;
  max-width: 650px;
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  .loopstudios__title {
    font-size: 72px;
  }
}
@media screen and (min-width: 1024) {
  .loopstudios__title {
    max-width: 650px;
  }
}
@media screen and (min-width: 768px) {
  .loopstudios {
    padding: 64px 0px;
  }
}
@media screen and (min-width: 1024px) {
  .loopstudios {
    min-height: 70vh;
  }
}

.main {
  min-height: 100vh;
}
.main .interactive {
  height: 70vh;
}
.main .interactive-content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
  margin: 80px auto;
  width: 327px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .main .interactive-content {
    width: 700px;
    gap: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .main .interactive-content {
    width: 1111px;
    height: 500px;
    margin: 80px auto;
  }
}
.main .interactive__figure {
  width: 100%;
  height: 224px;
}
@media screen and (min-width: 768px) {
  .main .interactive__figure {
    margin-inline: auto;
    width: 100%;
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .main .interactive__figure {
    width: 731px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.main .interactive__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main .interactive__texts {
  padding: 0 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .main .interactive__texts {
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 541px;
    height: 317px;
    background-color: #fff;
    text-align: start;
    justify-content: end;
    padding: 0;
    padding-top: 64px;
    padding-left: 80px;
    gap: 24px;
  }
}
.main .interactive__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .main .interactive__title {
    font-size: 64px;
  }
}
@media screen and (min-width: 1024px) {
  .main .interactive__title {
    font-size: 48px;
  }
}
.main .interactive__text {
  font-size: 15px;
  line-height: 1.65;
  opacity: 0.5;
}

.creations {
  width: 327px;
  margin: 64px auto;
  position: relative;
}
.creations__title {
  font-size: 32px;
  line-height: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .creations__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .creations__title {
    text-align: start;
  }
}
.creations-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1024px) {
  .creations-content {
    flex-flow: row wrap;
    gap: 32px;
  }
}
.creations__creation {
  height: 120px;
  width: 100%;
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.568627451), transparent);
  transition: background-color 0.4s ease;
}
@media screen and (min-width: 1024px) {
  .creations__creation {
    width: 256px;
    height: 450px;
  }
  .creations__creation:hover {
    background-color: rgba(216, 216, 216, 0.7803921569);
    background-image: none;
  }
  .creations__creation:hover .creations__topic {
    color: #000;
  }
}
.creations__img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.creations__topic {
  width: 80px;
  position: relative;
  top: 50px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .creations__topic {
    top: 340px;
    left: 30px;
    font-size: 32px;
  }
}
.creations .large {
  width: 170px;
}
.creations__all {
  margin-top: 32px;
  border: 1px solid #000;
  width: 157px;
  height: 40px;
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 5px;
  background-color: #fff;
  margin-inline: auto;
  cursor: pointer;
  transition: background-color ease 0.4s;
}
.creations__all:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .creations__all {
    position: absolute;
    top: -27px;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .creations {
    width: 608px;
  }
}
@media screen and (min-width: 1024px) {
  .creations {
    width: 1122px;
    margin: 20px auto 120px;
  }
}

.info {
  background-color: #000;
  color: #fff;
  height: auto;
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 608px;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1024px) {
  .info-content {
    justify-content: space-between;
    width: 1110px;
  }
}
@media screen and (min-width: 768px) {
  .info {
    height: 160px;
    padding: 50px;
  }
}
.info__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .info__links {
    align-items: flex-start;
  }
}
.info__logo {
  width: 144px;
  height: 24px;
  object-fit: contain;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .info__logo {
    margin-bottom: 30px;
  }
}
.info__nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .info__nav ul {
    flex-direction: row;
    gap: 12px;
  }
}
.info__nav ul li {
  position: relative;
}
.info__nav ul li:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  width: 60%;
}
.info__link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.65;
}
.info__redes {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .info__redes {
    margin-top: 0;
    align-items: flex-end;
  }
}
.info__redes ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.info__redes ul li {
  width: 24px;
  height: 24px;
}
.info__redes ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info__reserved {
  margin-top: 24px;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .info__reserved {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
